{% extends 'base.html.twig' %}{% block title %}{{ parent() }} - Compte verrouillé{% endblock %}{% block body %}
    <div class="row">
        <div class="col">
            <div class="alert alert-danger"> Votre compte est verrouillé.
            </div>
        </div>
    </div>{% endblock %}
